@import url('https://fonts.googleapis.com/css?family=Monda|Audiowide');

:root{
    --color-orange: #FF6C11;
    --color-salmon:#FF3864;
    --color-lightblue: #2DE2E6;
    --color-darkpurple: #261447;
    --color-midnight: #0D0221;

    --color-darkblue: #023788;
    --color-purple:#650D89;
    --color-magenta: #920075;
    --color-hotpink: #F6019D;
    --color-darkpink: #D40078;
}
body {
    margin: 0;
    padding: 0;
    font-family: Monda;
    font-size: 24px;
    /* background: linear-gradient(135deg, var(--color-hotpink), var(--color-darkpurple), var(--color-purple)); */

}

h1,h2,h3,h4,h5,h6, p {
    padding: 20px;
    /*color: var(--color-salmon);
    */
}

h3, p, ul, ol, li{
    color: var(--color-salmon);
}

h3{
    text-align: center;
}

hr{
    border: 1px solid var(--color-orange);
}

#navbar h1 {
    margin: 0;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(94,53,119);
    background: linear-gradient(0deg, rgb(78, 35, 105) 0%, rgb(115, 73, 141) 40%, rgb(183, 121, 216) 100%);
    padding-right: 20px;
    box-shadow: 0px 5px 4px rgb(78, 35, 105);
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar li{
    display: flex;
    padding: 0px 20px;
    margin: 0px;
}

#navbar a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#navbar a:hover{
    /* background-color: var(--color-lightblue); */
    /* color: var(--color-darkblue); */
    text-decoration: underline;
    /* text-shadow: 1px 1px var(--color-orange); */
}

#banner{
    width: 100%;
    box-shadow: 0px 5px 4px rgb(78, 35, 105);
}

#banner h1 {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-family: Audiowide;
}

.gradient-text{
    background-color: var(--color-lightblue);
    background-image: linear-gradient(180deg,
    var(--color-lightblue),
    var(--color-darkblue));
    background-size:100%;
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.listcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    max-width: 1200px;
}

footer{
    font-family: cursive;
    color:var(--color-salmon);
    text-align: center;
    padding-top: 50px;
}

.header-text{
    width: 100%;
    height: 80px;
    text-align: center;
    text-shadow: 2px 2px 4px var(--color-magenta);
}

#welcome-header{
    background: linear-gradient(var(--color-darkblue),var(--color-lightblue), var(--color-lightblue));
}

.center-text{
    text-align: center;
}

.card{
    border: solid 1px #dedede;
    border-radius: 5px;
    box-shadow: 0px 4px 8px #aaa;
    width: 500px;
}