body{
    background: gray;
}
.header{
   text-align: center;      
}
.mastery{
    text-align: center;
    padding: 15px;
}

#masterylist{   
    margin: 25px;
    padding:20px;
    border: 1px solid black; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    font-weight: bold;
}


#info{
    padding-left: 150px;
    padding-right:150px;
    font-size: 20px;
}

h1{
    height: 150px;
    text-align: center;
    background: linear-gradient(gray,rgb(11, 37, 87), gray);
    font-family: Arial;
    font-size: 5em;
    color: rgb(138, 93, 11);
   
   text-shadow: 0px 0px 2px red,
                5px 2px 4px black;

    
   
}

.nav{
    list-style-type: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navlink{
    display: inline;
}

