body{
    background: gray;
}
.header{
   text-align: center;   
   
   
}
.mastery{
    text-align: center;
    padding: 15px;
}

#masterylist{   
    margin: 25px;
    padding:20px;
    border: 1px solid black; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    font-weight: bold;
}


#info{
    padding-left: 150px;
    padding-right:150px;
    font-size: 20px;
}

h1{
    color:black;
    background: linear-gradient(gray,red, gray);
    font-family: Arial;
    font-size: 5em;
}

.nav{
    list-style-type: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navlink{
    display: inline;
}

